<div align='left' style='border: 1px solid; width:30%; padding: 10px; display:inline-block; float:left'>
    <p>Enter Number</p>
    {{input value=value}}
    <br/>
    <input type='button' value='Fibo' {{action 'genSeries' 'fibo'}}/>
    <input type='button' value='EvenNum' {{action 'genSeries' 'even'}}/>
</div>
