<div class='enter-number'>
    <p>Enter Number</p>
    {{input value=_value}}
    <br/>
    <input type='button' value='Fibo' {{action 'genSeries' 'fibo'}}/>
    <input type='button' value='EvenNum' {{action 'genSeries' 'even'}}/>
</div>
